streamlit
pandas
numpy
reportlab
joblib
openai
pydantic
tiktoken
langchain-core
langchain-community
# Aseguramos una versión de langchain que contenga el módulo 'text_splitter'
langchain==0.2.7
langchain-text-splitters